/* your styles, here */
body {
    padding:20px;
}
.error {
    color: red;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.nav-item{
    margin: 5px;
}