/* your styles, here */
body {
    padding:20px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-pet-adoption-point-poster-background-image_138009.jpg")
}
.error {
    color: red;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.nav-item{
    margin: 5px;
}
.pet-image{
    width: 200px;
}
.special-ashley-button{
    border: 2px dotted purple;
    border-radius : 15px;
    box-shadow: inset 5px 5px black;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 5rem;
    background-color: aquamarine;
    font-size: larger;
}