/* your styles, here */
body {
    padding:20px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-pet-adoption-point-poster-background-image_138009.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.error {
    color: red;
}
.nav-bar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.nav-item{
    margin: 5px;
}
.pet-image{
    width: 200px;
}
a {
    color : #234D20;
    font-weight: 900;
    font-size: 40px;
}
.pet-type{
    background-color: white;
    opacity: .7;
}